= simple_form_for(@list) do |f|

  = f.error_notification

  .form-inputs
    .row
      .col-sm-8
        = f.input :name

    %h3 Sublists
    #sublists
      = f.simple_fields_for :sublists do |sublist|
        = render partial:'sublist_fields', locals: { f: sublist }
      .links
        = link_to_add_association 'add sublist', f, :sublists

  .form-actions
    = f.button :submit
