= simple_form_for(@list) do |f|

  = f.error_notification

  .form-inputs
    = f.input :name, label: false
    .links
      = link_to_add_association f, :sublists, 'data-association-insertion-node' => "#sublists", 'data-association-insertion-method' => "after" do
        %span.fa.fa-plus
        = I18n.t('lists.form.add_sublist')

    %h3= t '.sublists'
    %ul#sublists{ style: 'list-style: none;' }
      = f.simple_fields_for :sublists do |sublist|
        %li= render partial:'sublist_fields', locals: { f: sublist }


  .form-actions
    = f.button :submit
    = link_to 'Cancel', list_path(@list) if @list.persisted?