%p#notice= notice

%p
  %b Name:
  = @list.name
  - @list.posts.each do |po|
    = link_to po.title, post_path(po)
  
= link_to 'Add post', new_post_path
\|
= link_to 'Add sublist', edit_list_path(@list)
\|
= link_to 'Back', lists_path