= simple_form_for ([@list,@post]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }
    = f.association :list, selected: @list.id

  .form-actions
    = f.button :submit
    = link_to 'Cancel', list_path(@list)