%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Content
      %th List
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= sanitize(post.content)
        %td= post.list
        %td= link_to 'Edit', edit_list_post_path(@list, post)
        %td= link_to 'Destroy', list_post_path(@list, post), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_list_post_path(@list)
